<h1 class="titulo">Vista de productos</h1>

{{#if vacio}}
    <h3 class="vacio">No se encontraron productos</h3>
{{else}}
<div class="tablaProductos">
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
      <th scope="col">Imágen</th>
    </tr>
  </thead>
  <tbody>
      {{#each todos}}
        <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.title}}</td>
            <td>$ {{this.price}}</td>
            <td><img alt="Foto" class="imgProducto" src={{this.thumbnail}}></td>
            </tr>
      
      {{/each}}
    
  </tbody>
</table>

</div>
{{/if}}
